<div class="post-card">
    <div class="post">
        <span class="post-title" >Titile:&nbsp;<a class="add-comment" href="/posts/{{id}}">{{title}}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posted by  
        {{user.username}} on {{formatDate createdAt}}</span>
        <p class="post-content">{{content}}</p>
    </div>
</div>

