<section>
        <h2>The Tech Blog</h2>
        <div class="tech-blog">
            <div class="previousComment">
               
               <p>{{post.title}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posted by&nbsp; {{post.user.username}} on &nbsp;{{formatDate post.createdAt}}</p>
               <p>{{post.content}}</p>
               {{#each post.comments as |comment|}}
               <p>{{comment.comment_text}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;commented by&nbsp;{{comment.user.username}}&nbsp;on&nbsp;{{formatDate comment.createdAt}}</p>
                {{/each}}
               
                    
                <div class="comment">
                    <!--form class="add-comment"-->
                        
                        <textarea name="content" id="comment-text" cols="70" rows="4"></textarea>
                           <div class="form-group">
                                <button class="btn btn-comment add-comment" >Submit</button>
                            </div>
                    <!--/form-->
            </div>
        </div>
</section>
<script src="/js/comment.js"></script>